
/* Begin Typography & Colors */
body {
  font-size: 18px;
  line-height: 19px;
  font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", serif;
  background: #efebe3;
  color: #4a4947;
}
#container{
  margin : 30px;
  padding : 20px 40px;
  background-color : white;
  border-radius : 10px;
  -webkit-border-radius : 10px;
  -mozilla-border-radius : 10px;
}
#container ul{
  margin-left: 30px;
}
#container .article{
  padding-top: 30px;
}
#container .article ul{
  margin-left: 30px;
}
header {
  padding: 40px 20px 20px 20px;
}
header h1 a{
  color: #4a4947;
  text-decoration: none;
}
#content{
  float: left;
  width: 77%;
  padding-right : 30px;
}
#content ul li {
  list-style-type : disc;
  line-height : 24px;
}
aside{
  float: right;
  width: 23%;
}

footer {
  clear: both;
  border: none;
  margin : 40px 0 40px 0;
  padding-top : 40px;
}

small {
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", serif;
	font-size: 0.9em;
	line-height: 1.5em;
	}

h1, h2, h3 {
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", serif;
	font-weight: bold;
	}

h1 {
	font-size: 3em;
	text-align: center;
	}


h2 {
	font-size: 1.6em;
  margin : 27px 0 10px 0;
  line-height : 1.1em;
	}


h3 {
	font-size: 1.3em;
  margin : 18px 0 10px 0;
	}
.date{
  width: 100px;
}

p{
  margin : 9px 0 14px 0;
  line-height : 21px;
}

.meta{
  font-style: italic;
}
strong{
  font-weight: bold;
}
em{
  font-style: italic;
}
pre{
	font: 1em 'Courier New', Courier, Fixed,
	margin-left: 0px;
	border-left: solid 3px #acacac;
	padding: 5px 10px 5px 10px;
	background-color: #ededed;
	width: 100%;

	}

acronym, abbr, span.caps
{
	font-size: 0.9em;
	letter-spacing: .07em;
	}

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left
	}
/* End Images */



/* Begin Lists

	Special stylized non-IE bullets
	Do not work in Internet Explorer, which merely default to normal bullets. */

html>body .entry ul {
	margin-left: 0px;
	padding: 0 0 0 30px;
	list-style: none;
	padding-left: 10px;
	text-indent: -10px;
	}

html>body .entry li {
	margin: 7px 0 8px 10px;
	}

.entry ul li:before, #sidebar ul ul li:before {
	content: "\00BB \0020";
	}

.entry ol {
	padding: 0 0 0 35px;
	margin: 0;
	}

.entry ol li {
	margin: 0;
	padding: 0;
	}

.postmetadata ul, .postmetadata li {
	display: inline;
	list-style-type: none;
	list-style-image: none;
	}

#sidebar ul, #sidebar ul ol {
	margin: 0;
	padding: 0;
	}

#sidebar ul li {
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 15px;
	}

#sidebar ul p, #sidebar ul select {
	margin: 5px 0 8px;
	}

#sidebar ul ul, #sidebar ul ol {
	margin: 5px 0 0 10px;
	}

#sidebar ul ul ul, #sidebar ul ol {
	margin: 0 0 0 10px;
	}

ol li, #sidebar ul ol li {
	list-style: decimal outside;
	}

#sidebar ul ul li, #sidebar ul ol li {
	margin: 3px 0 0;
	padding: 0;
	}
/* End Entry Lists */



/* Begin Form Elements */
#searchform {
	margin: 10px auto;
	padding: 5px 3px;
	text-align: center;
	}

#sidebar #searchform #s {
	width: 108px;
	padding: 2px;
	}

#sidebar #searchsubmit {
	padding: 1px;
	}

.entry form { /* This is mainly for password protected posts, makes them look better. */
	text-align:center;
	}

select {
	width: 130px;
	}

#commentform input {
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;
	}

#commentform {
	margin: 5px 10px 0 0;
	}
#commentform textarea {
	width: 100%;
	padding: 2px;
	}
#respond:after {
		content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
#commentform #submit {
	margin: 0 0 5px auto;
	float: right;
	}
/* End Form Elements */



/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
	cursor: help;
	}

acronym, abbr {
	border-bottom: 1px dashed #999;
	}

blockquote {
  margin: 15px 30px 10px 10px;
  padding: 4px 10px 4px 20px;
  border-left: 5px solid #ddd;
}

blockquote > p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 90%;
}

blockquote cite {
  margin: 5px 0 0;
  display: block;
}

.center {
  text-align: center;
}

.hidden {
	display: none;
	}

hr {
	display: none;
	}

a img {
	border: none;
	}

.navigation {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 60px;
	}
/* End Various Tags & Classes*/

table {
    width: 100%;
}

tr:nth-of-type(odd) {
    background-color: #eee;
}
td {
    padding: 5px;
}
th {
    font-weight: bold;
    padding: 5px;
}

/* Captions */
.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
/* End captions */


/* "Daisy, Daisy, give me your answer do. I'm half crazy all for the love of you.
	It won't be a stylish marriage, I can't afford a carriage.
	But you'll look sweet upon the seat of a bicycle built for two." */
