<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} &mdash; jordanbrock.com </title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/syntax.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="container">
      <header>
      <h1><a href="/">Jordan Brock</a></h1>
      </header>
      <div id="content">
        {{ content }}
      </div>
      <div id="sidebar">
        <h2>Stuff</h2>
        <ul>
          <li><a href="/archive.html">Archive</a></li>
          <li><a href="https://glass.photo/jordanbrock">Glass</a></li>
          <li><a rel="me" href="https://brocks.social/@jordan">Mastodon</a></li>
        </ul>
        <h2>About Me</h2>
        <p>
        I'm a Ruby developer who works for <a href="http://www.fivesenses.com.au" target="_blank">Five Senses Coffee</a>. I ride bikes.
        </p>
      </div>
      <footer>
        By me.
      </footer>
    </div>
  </body>
</html>
